<h3><i class="fas fa-camera-retro"></i> StoryApp</h3>
<div class="section">
  <p class="lead">create public stories</p>
</div>
<div class="divider"></div>
<div class="row">
  <div class="section">
    <div class="col s6">
      <a href="/auth/google" class="btn red darken-1">
        Login with google <i class="fab fa-google"></i>
      </a></div>
    <div class="col s6">
      <a href="/auth/facebook" class="btn blue m3">
        Login with facebook <i class="fab fa-facebook"></i>
      </a>
    </div>
  </div>
</div>
<div class="row ">
  <form class="col s12  center-align">
     <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    
    <button class="btn waves-effect waves-light" type="submit" name="action">Login
    </button>
    <p>Don't have an account <a href="/signup">SignUp here</a></p>
</div>
</form>
</div>
