@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

p{
    margin:10px 0px !important;
}

.login-container{
    width: 580px;
    margin-top: 50px;
    text-align: center;
}
.profile-image{
    width: 9%;
}
.dashprofile{
    display: grid;
    
}
.fa-small{
    font-size: 15px !important;
}

.img-small{
    width:150px;
}

.btn-float{
    margin-left: 20px;
    float: left;
}